<!DOCTYPE html>
<html>
  <head>
    <title>NV Minh - 93156 - IT21A1A</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My User List</h1>
    <a href="form_add"><button>Thêm</button></a>
    <table border="1">
      <tr>
        <!-- <th>ID</th> -->
        <th>Phone</th>
        <th>Password</th>
        <th>TypeRegister</th>
        <th>TokenLogin</th>
        <th>DeviceID</th>
        <th>FcmTokens</th>
        <th>ACTION</th>
      </tr>
        <% lops.forEach(item => { %>
          <tr>
            <!-- <td><%= item.id %> </td> -->
            <td><%= item.phone %> </td>
            <td><%= item.password %> </td>
            <td><%= item.typeRegister %> </td>
            <td><%= item.tokenLogin %> </td>
            <td><%= item.deviceID %></td>
            <td><%= item.fcmTokens %></td>
            <td> <a href="/form_update/<%= item.id %>"> Update</a>||<a href="/form_delete/<%= item.id %>"> delete</a></td>
          </tr>
        
        <% }) %>
      </tr>
    </table>
  </body>
</html>
